    @font-face {
        font-family: myFirstFont;
        src: url(../assets/pixel.ttf);
    }

    body{
        cursor: url('../assets/pointer.png'), auto;	
        overflow:hidden;
        font-family: myFirstFont
    }

    html{
        cursor: url('../assets/pointer.png'), auto;	
        overflow:hidden;
        height:100vh;
        width:100vw;
    }

    input{
        cursor: url('../assets/pointer.png'), auto;	
    }

    game{
        cursor: url('../assets/pointer.png'), auto;	
        overflow: hidden;
        display:block;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        position:absolute;
    }

    game *{
        display : block;
        
    }

    furniture {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    shakebox{
        top:0;
        left:0;
        position: absolute;
    }

    pickup {
        width: 10vh;
        height: 10vh;
        top:0;
        left:0;
        z-index:101;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transition:1.5s;
        animation: pickuppopup 2s forwards, 3s idlepickup 2s forwards;
        animation-iteration-count: 1,infinite;

    }

    grayout{
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:100;
        opacity: 0;
        position: absolute;
        animation: grayfade 1s forwards;
        animation-iteration-count: 1;
    }

    itemMessage{
        width:100%;
        position: absolute;
        text-align: center;
        top:70vh;
        color:gold;
        font-size:30px;
        z-index:101;
    }

    background {
        background-size: 100% 100%;
        width: 100vw; height: 100vh;
        position: absolute; top: 0; left: 0;
        z-index: -1;
    }

    guide {
        background-size: 100% 100%;
        width: 25vw; height: 80vh;
        position: absolute; 
        top: 10vh; 
        left: 2vw;
        z-index: 1;
    }

    character {
        background-image: url(../assets/unicorn_akimbo.png);
        width: 10vh; height: 10vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        z-index: 1;
    }

    inventoryitem{
        position:relative;
        width: 9vh; height: 9vh;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 70%;
        z-index:5;
    }

    inventoryitem:hover{
        transform:scale(1.3)
    }

    .monster{
        width: 100%; height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 50% 50%;
        background-position: center;
    }

    obstacle{
        width: 100%; height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 50% 50%;
        background-position: center;
    }


    moveSpace{
        width: 9vh; height: 9vh;
        background-repeat: no-repeat;
        background-size: 70% 70%;
        background-position: center;
        position: absolute;
        top:0;
        left:0;
    }

    .canplace{
        animation: pulse 2s;
        animation-iteration-count: infinite;
    }

    unicornPlayer {
        background-image: url(../assets/unicorn_jetpack.png);
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        bottom :0;
        position:absolute
    }
    newPointer {
        background-image: url(../assets/horn.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
        width: 10vh; height: 10vh;
        pointer-events: none;
        position:absolute;
        z-index:150;
    }
    glitter {
        background-image: url(../assets/cursorSpark.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
        width: 5vh; height: 5vh;
        pointer-events: none;
        z-index: 150;
        position:absolute;
        animation: glitter 1s forwards;
    }
    circle {
        background-image: url(../assets/rainbowcircle.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 5vh; height: 5vh;
        pointer-events: none;
        z-index: 149;
        position:absolute;
        transform:translate(0,0);
    }

    inventory{
        position:absolute;
        height: calc(70vh - 30px);
        width: 3vw;
        padding-left:0,5vw;
        padding-right:1vw;
        top: calc(15vh - 15px);
        right:1vw;
        background-color: rgb(243, 129, 192);
        border: inset 1vw pink;
    }

    dustcloud{
        width:100px;
        height:100px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(../assets/dustcloud.png);
    }

    skulltop{
        width:5vw;
        height:5vw;
        left:calc(50% - 2.5vw);
        top:2.5vh;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(../assets/skulltop.png);
        animation: skulltop 1s;
        animation-iteration-count: infinite;
    }

    skullbottom{
        width:8vw;
        left:calc(50% - 4vw);
        top:9vh;
        height:4vw;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(../assets/skullbottom.png);
        animation: skullbottom 1s;
        animation-iteration-count: infinite;
    }

    bullet {
        background-image: url(../assets/fireProjectile.gif);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%; height: 100%;
    }

    hint{
        position:absolute;
        font-size: 1vh;
        text-align:center;
        word-break: break-all;
        overflow: hidden;
        padding-top:8px;
        padding-left:2px;
        padding-right:2px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(../assets/note.png);
    }

    zoomed{
        position:absolute;
        font-size: 5vh;
        text-align:center;
        padding-top:15vh;
        padding-left:5vw;
        padding-right:5vw;
        top:0;
        left:20vw;
        height: 80vh;
        width: 50vw;
        z-index: 101;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100% ;
        background-image: url(../assets/note.png);
    }

    title{
        position:absolute;
        width:100%;
        text-align:center;
        top:5vh;
        font-size:10vh;
    }

    menu{
        position: absolute;
        width:16vw;
        height:55vh;
        top:25vh;
        left:42vw;
        padding:0;
    }

    menu *{
        height:10vh;
    }

    delSave{
        margin-top:20vh;
        position:absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button{
        text-align: center;
        width:calc(16vw - 20px);
        margin-bottom:5%;
        background-color: rgb(243, 129, 192);
        border: dashed 10px pink;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:5vh;
    }

    credits{
        position: absolute;
        width:36vw;
        height:55vh;
        top:26vh;
        left:calc(31.5vw - 30px);
        padding:2vw;
        border: dashed 15px pink;
        background-color: rgb(243, 129, 192);
        display: grid !important;
        grid-template-columns: auto auto auto;
        font-size: 2vw;
    }

    credits *{
        text-align: center;
        display:grid !important;
    }

    credit{
        font-weight: bold;
    }

    options{
        position: absolute;
        width:36vw;
        height:55vh;
        top:26vh;
        left:calc(31.5vw - 30px);
        padding:2vw;
        border: dashed 15px pink;
        background-color: rgb(243, 129, 192);
        font-size: 2vw;
    }

    effectoptions{
        padding-top:50px;
    }

    leave{
        position: absolute;
        top:calc(26vh + 15px);
        left:calc(31.5vw - 15px);
        transform: rotate(45deg);
        background-image: url(../assets/leave.png);
        background-size: 100% 100%;
        height:5vh;
        width:5vh;
    }
    
    
    options input {
        -webkit-appearance: none;
        width: 31vw;
        height: 5vh;
        left:15%;
        position: absolute;
        background: pink;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      options input:hover {
        opacity: 1;
      }
      
      options input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 5vh;
        height: 5vh;
        background:black;
      }
      
      options input::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: black;
      }

      rightUnicorn{
          position: absolute;
          height:20vw;
          width:20vw;
          top:40vh;
          right:10vw;
          background-image: url(../assets/enemy_wizard.png);
          background-size: 100%;
          background-repeat: no-repeat;
          animation-duration: 2s;
        animation-iteration-count: infinite;
      }

      leftUnicorn{
        position: absolute;
        height:20vw;
        width:20vw;
        top:40vh;
        left:10vw;
        background-image: url(../assets/unicorn_player.png);
        background-size: 100%;
        background-repeat: no-repeat;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    level{
        position: absolute;
        text-align:center;
        font-size:1.5em;
    }

    level:hover{
        border:solid 10px pink;
        margin:-10px;
    }

    levelLock{
        background-size:auto 40%;
        background-position: center;
        position: absolute;
        background-repeat: no-repeat;
    }

    .bounce-right {
        animation-name: bounce-right;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }

    backhome{
        height:8vh;
        width:8vh;
        position:absolute;
        background-image: url(../assets/home.png);
        background-size:100%;
        margin:1vh;
        filter: hue-rotate(200deg)
    }

    gameboard{
        background-image:url(../assets/gameboard.png);
        height:90vh; width:90vh;
        position: absolute;
        top:5vh;
        background-size:100%;
        background-repeat: no-repeat;
        left:calc(50vw - 45vh);
    }

    startbattle{
        position: absolute;
        background-color: red;
        border:inset 5px rgb(255, 33, 33);
        top:5vh;
        left:calc(50vw + 45vh);
        font-size:4vh;
        text-align: center;
        opacity:0;
    }

    arrows{
        background-image: url(../assets/here.gif);
        background-repeat: no-repeat;
        background-size:100%;
        width: 15vh; height: 15vh;
        position: absolute;
    }

    dialogWindow{
        width:40vw;
        height:25vh;
        left:30vw;
        top:70vh;
        position:absolute;
        background-color: rgb(243, 129, 192);
        border: inset 2vh pink;
        font-size: 5vh;
    }

    messageBox{
        position: absolute;
        right:0;
        top:0;
        width:27vw;
    }

    playerIcon{
        height:11vw;
        width:11vw ; 
        padding-left:1vw; 
        top:0;
        left:0; 
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        position: absolute;
    }


    muteGame {
        height:30px;
        width:30px;
        background-size: 100%;
        background-position:center ;
        position: absolute;
 
        background-image: url(../assets/muted.png);
    }

    muteEffect{
        height:30px;
        width:30px;
        background-size: 100%;
        background-position:center ;
        position: absolute;
 
        background-image: url(../assets/muted.png);
    }

    score{
        font-size:7vh;
        height:7vh;
        position: absolute;
        top:93vh;
    }

    scoreAdd{
        transition:1s;
        font-size:7vh;
        height:7vh;
        position: absolute;
        top:93vh;
        left:125px
    }

    skullPlace{
        position: absolute;
        width:10vw;
        top:35vh;  
        height:10vw;
        z-index:100;
        transition:2s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%;
    }

    gameOver{
        width:30vw;
        height:15vw;
        position:absolute;
        background-image:url(../assets/gameOver.png);
        background-size:100% 100%;
        z-index:100;
        left:35vw;
        top:-15vw;
        transition:2s;
    }

    tryAgain{
        z-index: 100;
        position: absolute;
        left:42vw;
        bottom:-20vh;
        transition:2s;
    }

    gameWin{
        width:30vw;
        height:5vw;
        position:absolute;
        background-image:url(../assets/victory.png);
        background-size:100% 100%;
        z-index:100;
        left:35vw;
        top:-15vw;
        transition:2s;
    }

    uniWin{
        position: absolute;
        width:10vw;
        top:35vh;  
        height:10vw;
        z-index:100;
        transition:2s;
        background-image: url(../assets/unicorn_player.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% 80%;
    }

    rollCredits{
        top:100vh;
        position: absolute;
        width:40vw;
        left:30vw;
        text-align: center;
        font-size: 9vh;
        z-index:200;
        color:white;

    }

    rollCredits b{
        padding-top: 7vh;
    }

    theEnd{
        width:30vw;
        left:34vw;
        height:30vh;
        top:100vh;
        transition: 3s;
        position: absolute;
        background-image: url(../assets/end.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% ;
        z-index:100;
        
    }

    firework{
        position: absolute;
        background-image: url(../assets/firework.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% ;
        z-index:100;
    }

    explosion{
        position: absolute;
        background-image: url(../assets/explosion.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% ;
        z-index:100;
    }
    

    
    @keyframes bounce-right {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }


    .bounce-left {
        animation-name: bounce-left;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
    
    @keyframes bounce-left {
        0%   { transform: scale(1,1)      translateY(0) scaleX(-1); }
        10%  { transform: scale(1.1,.9)   translateY(0) scaleX(-1); }
        30%  { transform: scale(.9,1.1)   translateY(-100px) scaleX(-1); }
        50%  { transform: scale(1.05,.95) translateY(0) scaleX(-1); }
        57%  { transform: scale(1,1)      translateY(-7px) scaleX(-1); }
        64%  { transform: scale(1,1)      translateY(0) scaleX(-1); }
        100% { transform: scale(1,1)      translateY(0) scaleX(-1); }
    }





    .shake:hover {  
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    fadetonew{
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:200;
        opacity: 0;
        position: absolute;
        animation: 4s fadetonew 2s;
        animation-iteration-count: 1;
    }

    deadEnemy{
        width: 30vw;
        height: 30vh;
        top:35vh;
        left:35vw;
        position:absolute;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        animation: spinfade 3s forwards;
        z-index:100;
    }

    @keyframes spinfade{
        0%{}
        75%{filter:opacity(1)}
        100%{filter: opacity(0); transform: rotate(2000deg)}
    }


    @keyframes pickuppopup {
        0%{}
        25%{ top:70px; }
        50%{ transform: translate(calc(50vw - 25px),40vh)}
        100%{ transform: translate(calc(50vw - 25px),40vh) scale(5)}
    }

    @keyframes grayfade{
        0%{opacity: 0;}
        100%{opacity: 0.7;}
    }

    

    @keyframes idlepickup {
        0%{ transform: translate(calc(50vw - 25px),40vh) scale(5) rotate(0deg)}
        33%{ transform: translate(calc(50vw - 25px),40vh) scale(5) rotate(-20deg)}
        66%{ transform: translate(calc(50vw - 25px),40vh) scale(5) rotate(20deg)}
        100%{ transform: translate(calc(50vw - 25px),40vh) scale(5) rotate(0deg)}
    }

    @keyframes enemyappear {
        0%{}
        25%{ top:70px; }
        50%{ transform: translate(calc(50vw - 25px),25vh)}
        100%{ transform: translate(calc(50vw - 25px),25vh)}
    }

    @keyframes battletransition{
        100%{transform: scale(20)}
    }

    @keyframes skulltop{
        50%{transform: translateY(-2vh)}
        100%{transform: translateY(0)}
    }

    @keyframes skullbottom{
        50%{transform: translateY(2vh)}
        100%{transform: translateY(0)}
    }

    @keyframes fadetonew{
        0%{opacity: 0}
        50%{opacity: 1}
        100%{opacity: 0}
    }
    @keyframes glitter {
        0%{ opacity: 1;}
        100%{ opacity: 0;}
    }

    @keyframes pulse {
        100% {
          box-shadow: 0 0 0 0 rgba(255, 9, 9, 0.7)Inset;
          
        }
        30% {
            box-shadow: 0 0 0 10px rgba(255, 9, 9, 0.7) Inset;
            
        }
        0% {
            box-shadow: 0 0 0 0 rgba(255, 9, 9, 0.7)Inset;
            
        }
      }