game *{
    display : block;
}

furniture {
    background-image: url(../assets/chair.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

background {
    background-image: url(../assets/1.png);
    background-size: 100% 100%;
    width: 100vw; height: 100vh;
    position: absolute; top: 0; left: 0;
    z-index: -1;
}
